@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "NeueHaasDisplay-Mediu";
  src: url(../fonts/NeueHaasDisplayMediu.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplay-Bold";
  src: url(../fonts/NeueHaasDisplayBold.ttf) format("truetype");
}
@font-face {
  font-family: "SuisseIntl-Medium";
  src: url(../fonts/SuisseIntl-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "ABCFavorit-Bold";
  src: url(../fonts/ABCFavorit-Bold.otf) format("opentype");
}
.section2 {
  width: 100%;
  height: 85vh;
  padding: 0px 0px 0px 50px;
  font-family: "NeueHaasDisplay-Bold";
  background-color: #f4f5ef;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.section2 .round_tit {
  font-size: 10px;
  margin-right: 7px;
  margin-top: 2px;
}

.topWrap {
  display: flex;
}
.topWrap .profile {
  padding-top: 40px;
  display: flex;
  width: 100px;
}
.topWrap .motto {
  font-size: 40px;
  padding-top: 40px;
  margin-left: 360px;
  width: 600px;
}

.accordion {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.accordion .tit {
  width: 60px;
  height: 100%;
  padding: 10px 10px;
  transition: linear 0.5s;
  cursor: pointer;
  position: relative;
}
.accordion .tit.active {
  width: 550px;
}
.accordion .tit.active .innerWrap {
  display: block;
}
.accordion .list_box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.accordion .list_box p {
  transform: rotate(-90deg);
  width: 180px;
  font-size: 24px;
  margin-bottom: 76px;
}
.accordion .innerWrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
}
.accordion .innerWrap .inner_animate {
  position: relative;
  top: 45px;
  width: 550px;
  height: auto;
  white-space: nowrap;
  font-size: 88px;
}
.accordion .innerWrap .inner_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion .innerWrap .inner_track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: loop 20s linear infinite;
}
.accordion .innerWrap .inner_track:active {
  animation-play-state: paused;
}
@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.accordion .innerWrap .profileList {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
}
.accordion .innerWrap .profileList ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000;
  padding: 2px 0;
}
.accordion .about_me {
  background-color: #FF2803;
}
.accordion .about_me span {
  font-size: 20px;
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 0;
  padding-top: 4px;
}
.accordion .about_me span::after {
  content: "";
  position: absolute;
  top: 0;
  left: -70%;
  width: 34px;
  height: 34px;
  background-color: #000;
  z-index: -99;
  border-radius: 100%;
}
.accordion .about_me.active .list_box p {
  display: none;
}
.accordion .about_me.active .list_box span {
  font-size: 20px;
  position: relative;
  top: 0;
  left: 46.5%;
  color: #fff;
  z-index: 0;
  padding-top: 4px;
}
.accordion .about_me.active .list_box span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #000;
  z-index: -99;
  border-radius: 100%;
}
.accordion .about_me.active .profileList {
  font-weight: 800;
}
.accordion .about_me.active .profileList ul:nth-of-type(4) {
  justify-content: flex-end;
}
.accordion .about_me.active .profileList ul:nth-of-type(5) {
  justify-content: flex-end;
}
.accordion .about_me.active .profileList ul:nth-of-type(6) {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  justify-content: flex-end;
}
.accordion .education {
  background-color: #F9B71B;
}
.accordion .education span {
  font-size: 20px;
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 0;
  padding-top: 5px;
}
.accordion .education span::after {
  content: "";
  position: absolute;
  top: 0;
  left: -85%;
  width: 34px;
  height: 34px;
  background-color: #000;
  z-index: -99;
  border-radius: 100%;
}
.accordion .education.active .list_box p {
  display: none;
}
.accordion .education.active .list_box span {
  font-size: 20px;
  position: relative;
  top: 0;
  left: 46.5%;
  color: #fff;
  z-index: 0;
  padding-top: 4px;
}
.accordion .education.active .list_box span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #000;
  z-index: -99;
  border-radius: 100%;
}
.accordion .education.active .profileList {
  font-weight: 800;
}
.accordion .education.active .profileList ul:nth-of-type(5) {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
.accordion .technical_skill {
  background-color: #1795f0;
}
.accordion .technical_skill span {
  font-size: 20px;
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 0;
  padding-top: 5px;
}
.accordion .technical_skill span::after {
  content: "";
  position: absolute;
  top: 0;
  left: -85%;
  width: 34px;
  height: 34px;
  background-color: #000;
  z-index: -99;
  border-radius: 100%;
}
.accordion .technical_skill.active .list_box p {
  display: none;
}
.accordion .technical_skill.active .list_box span {
  font-size: 20px;
  position: relative;
  top: 0;
  left: 46.5%;
  color: #fff;
  z-index: 0;
  padding-top: 4px;
}
.accordion .technical_skill.active .list_box span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #000;
  z-index: -99;
  border-radius: 100%;
}
.accordion .technical_skill.active .profileList {
  font-weight: 800;
}
.accordion .technical_skill.active .profileList ul:nth-of-type(9) {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
.accordion .contact {
  background-color: #30E462;
}
.accordion .contact span {
  font-size: 20px;
  position: relative;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 0;
  padding-top: 5px;
}
.accordion .contact span::after {
  content: "";
  position: absolute;
  top: 0;
  left: -70%;
  width: 34px;
  height: 34px;
  background-color: #000;
  z-index: -99;
  border-radius: 100%;
}
.accordion .contact.active .list_box p {
  display: none;
}
.accordion .contact.active .list_box span {
  font-size: 20px;
  position: relative;
  top: 0;
  left: 46.5%;
  color: #fff;
  z-index: 0;
  padding-top: 4px;
}
.accordion .contact.active .list_box span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  background-color: #000;
  z-index: -99;
  border-radius: 100%;
}
.accordion .contact.active .profileList ul:nth-of-type(2) {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}