* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "NeueHaasDisplay-Mediu";
  src: url(../fonts/NeueHaasDisplayMediu.ttf) format("truetype");
}
@font-face {
  font-family: "NeueHaasDisplay-Bold";
  src: url(../fonts/NeueHaasDisplayBold.ttf) format("truetype");
}
@font-face {
  font-family: "SuisseIntl-Medium";
  src: url(../fonts/SuisseIntl-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "ABCFavorit-Bold";
  src: url(../fonts/ABCFavorit-Bold.otf) format("opentype");
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 50px;
  position: sticky;
  top: 40px;
  z-index: 1;
}
header .logo img {
  width: 50px;
  height: 50px;
}
header .menu button {
  border-radius: 50px;
  background-color: #0500e8;
  color: #fff;
  border: #fff solid 2.5px;
  font-size: 19px;
  padding: 8px 15px;
}

.section1 {
  width: 100%;
  height: 100vh;
  padding: 40px 50px;
}
.section1 .top_text {
  position: absolute;
  top: 48px;
  left: 7%;
  width: 80%;
  text-align: center;
  color: #0500e8;
  font-family: "NeueHaasDisplay-Mediu";
  font-size: 30px;
  letter-spacing: 1px;
}
.section1 .urim {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.section1 .urim .name_U svg {
  transition: 0.5s linear;
  transform-origin: 0 100%;
}
.section1 .urim .name_U svg:hover {
  transform: scaleY(0.3);
}
.section1 .urim .name_R svg {
  transition: 0.5s linear;
  transform-origin: 0 100%;
}
.section1 .urim .name_R svg:hover {
  transform: scaleY(0.3);
}
.section1 .urim .name_I svg {
  transition: 0.5s linear;
  transform-origin: 0 100%;
}
.section1 .urim .name_I svg:hover {
  transform: scaleY(0.3);
}
.section1 .urim .name_M svg {
  transition: 0.5s linear;
  transform-origin: 0 100%;
}
.section1 .urim .name_M svg:hover {
  transform: scaleY(0.3);
}
.section1 .bottom_txt {
  padding: 0 10px;
  color: #0500e8;
  font-family: "NeueHaasDisplay-Mediu";
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.section1 .bottom_txt p:nth-child(2) {
  text-align: right;
}