@charset "utf-8";

@mixin background-set {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flex-mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-top {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

@mixin border($w, $color) {
    border: $w solid $color;
}