@charset "utf-8";
@import "reset", "color", "base", "fonts";

.section2 {
    width: 100%;
    height: 85vh;
    padding: 0px 0px 0px 50px;
    font-family: 'NeueHaasDisplay-Bold';
    background-color: #f4f5ef;
    @include flex-top;

    .round_tit {
        font-size: 10px;
        margin-right: 7px;
        margin-top: 2px;
    }
}

.topWrap {
    display: flex;

    .profile {
        padding-top: 40px;
        display: flex;
        width: 100px;
    }

    .motto {
        font-size: 40px;
        padding-top: 40px;
        margin-left: 400px;
        width: 600px;
    }
}



.accordion {
    height: 100%;
    @include end;

    .tit {
        width: 60px;
        height: 100%;
        padding: 10px 10px;
        transition: linear 0.5s;
        cursor: pointer;
        position: relative;

        &.active {
            width: 550px;

            .innerWrap {
                display: block;
            }
        }
    }

    .list_box {
        height: 100%;
        @include flex-between;
        flex-direction: column;

        p {
            transform: rotate(-90deg);
            width: 180px;
            font-size: 24px;
            margin-bottom: 76px;
        }
    }

    .innerWrap {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        height: 100%;


        .inner_animate {
            position: relative;
            top: 45px;
            width: 550px;
            height: auto;
            white-space: nowrap;
            font-size: 88px;
        }

         .inner_content {
            @include flex-mid;
        }   

        .inner_track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: loop 20s linear infinite;
    
            &:active {
                animation-play-state: paused;
            }
        }

        @keyframes loop {
            from {
                transform: translateX(0);
            }
    
            to {
                transform: translateX(-50%);
            }
        }

        .profileList {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 20px;

            ul {
                @include flex-between;
                border-top: 1px solid $ba;
                padding: 2px 0;
            }
        }
    
    }

    .about_me {
        background-color: $re;

        span {
            font-size: 20px;
            position: relative;
            top: 0;
            left: 0;
            color: $wh;
            z-index: 0;
            padding-top: 4px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -70%;
                width: 34px;
                height: 34px;
                background-color: $ba;
                z-index: -99;
                border-radius: 100%;
            }
        }

        &.active {
            .list_box {
                p {
                   display: none;  
                }
                span {
                    font-size: 20px;
                    position: relative;
                    top: 0;
                    left: 46.5%;
                    color: $wh;
                    z-index: 0;
                    padding-top: 4px;
        
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 35px;
                        height: 35px;
                        background-color: $ba;
                        z-index: -99;
                        border-radius: 100%;
                    }
                }
            }
            .profileList {
                font-weight: 800;
                ul {
                    &:nth-of-type(4) {
                        justify-content: flex-end;
                    }
                    &:nth-of-type(5) {
                        justify-content: flex-end;
                    }
                    &:nth-of-type(6) {
                        border-bottom: 1px solid $ba;
                        margin-bottom: 20px;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }


    .education {
        background-color: $ye;

        span {
            font-size: 20px;
            position: relative;
            top: 0;
            left: 0;
            color: $wh;
            z-index: 0;
            padding-top: 5px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -85%;
                width: 34px;
                height: 34px;
                background-color: $ba;
                z-index: -99;
                border-radius: 100%;
            }
        }

        &.active {
            .list_box {
                p {
                   display: none;  
                }

                span {
                    font-size: 20px;
                    position: relative;
                    top: 0;
                    left: 46.5%;
                    color: $wh;
                    z-index: 0;
                    padding-top: 4px;
        
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 35px;
                        height: 35px;
                        background-color: $ba;
                        z-index: -99;
                        border-radius: 100%;
                    }
                }
            }
            .profileList {
                font-weight: 800;
                ul {                    
                    &:nth-of-type(5) {
                        border-bottom: 1px solid $ba;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .technical_skill {
        background-color: $sk;

        span {
            font-size: 20px;
            position: relative;
            top: 0;
            left: 0;
            color: $wh;
            z-index: 0;
            padding-top: 5px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -85%;
                width: 34px;
                height: 34px;
                background-color: $ba;
                z-index: -99;
                border-radius: 100%;
            }
        }

        &.active {
            .list_box {
                p {
                   display: none;  
                }
                span {
                    font-size: 20px;
                    position: relative;
                    top: 0;
                    left: 46.5%;
                    color: $wh;
                    z-index: 0;
                    padding-top: 4px;
        
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 35px;
                        height: 35px;
                        background-color: $ba;
                        z-index: -99;
                        border-radius: 100%;
                    }
                }
            }
            .profileList {
                font-weight: 800;
                ul {                    
                    &:nth-of-type(9) {
                        border-bottom: 1px solid $ba;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .contact {
        background-color: $gr;

        span {
            font-size: 20px;
            position: relative;
            top: 0;
            left: 0;
            color: $wh;
            z-index: 0;
            padding-top: 5px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -70%;
                width: 34px;
                height: 34px;
                background-color: $ba;
                z-index: -99;
                border-radius: 100%;
            }
        }

        &.active {
            .list_box {
                p {
                   display: none;  
                }
                span {
                    font-size: 20px;
                    position: relative;
                    top: 0;
                    left: 46.5%;
                    color: $wh;
                    z-index: 0;
                    padding-top: 4px;
        
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 35px;
                        height: 35px;
                        background-color: $ba;
                        z-index: -99;
                        border-radius: 100%;
                    }
                }
            }
            
            .profileList {
                ul {                    
                    &:nth-of-type(2) {
                        border-bottom: 1px solid $ba;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}