@charset "utf-8";
@import "reset", "color", "base", "fonts";


header {
    width: 100%;
    @include flex-between;
    margin-bottom: 40px;
    padding: 0 50px;
    position: sticky;
    top: 40px;
    z-index: 1;

    .logo {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .menu {
        button {
            border-radius: 50px;
            background-color: $wh;
            color: $be;
            @include border ($be, 2.5px);
            font-size: 19px;
            padding: 8px 15px;
        }
    }
}


footer {
    width: 100%;
    height: 70vh;
    padding: 40px 50px;
    background-color: $be;

    h1 {
        color: $wh;
        text-align: center;
    }
}

.section1 {
    width: 100%;
    height: 100vh;
    padding: 40px 50px;

    .top_text {
        position: absolute;
        top: 48px;
        left: 7%;
        width: 80%;
        text-align: center;
        color: $be;
        font-family: 'NeueHaasDisplay-Mediu';
        font-size: 30px;
        letter-spacing: 1px
    }

    // .logo-text {
    //     opacity: 0;
    //     transform: translateY(100px);
    //     transition: opacity 1s, transform 1s;
    //     position: relative;
    // }

    .urim {
        @include flex-mid;
        padding: 0 40px;

        opacity: 0;
        transform: translateY(100px);
        transition: opacity 1s, transform 1s;
     

        .name_U { 

            svg {
                transition: 0.5s linear;
                transform-origin: 0 100%;

                &:hover {
                    transform: scaleY(0.3);
                }
            }
        }

        .name_R {  

            svg {
                transition: 0.5s linear;
                transform-origin: 0 100%;

                &:hover {
                    transform: scaleY(0.3);
                }
            }
        }

        .name_I {

            svg {
                transition: 0.5s linear;
                transform-origin: 0 100%;

                &:hover {
                    transform: scaleY(0.3);
                }
            }
        }

        .name_M {

            transition-delay: 0.4s; 

            svg {
                transition: 0.5s linear;
                transform-origin: 0 100%;

                &:hover {
                    transform: scaleY(0.3);
                }
            }
        }
    }

    .bottom_txt {
        padding: 0 10px;
        color: $be;
        font-family: 'NeueHaasDisplay-Mediu';
        font-size: 28px;
        @include flex-between;
        margin-top: 100px;

        opacity: 0;
        transform: translateY(100px);
        transition: opacity 1s, transform 1s;

        p {
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}