@charset "utf-8";
@import "reset", "color", "base", "fonts";

body {
    &::-webkit-scrollbar {
        width: 18px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #cef79e;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: $ba;
    }
}


header {
    width: 100%;
    @include flex-between;
    margin-bottom: 40px;
    padding: 0 50px;
    position: sticky;
    top: 40px;
    z-index: 1;

    .logo {
        img {
            width: 50px;
            height: 50px;
        }
    }

    .menu {
        button {
            border-radius: 50px;
            background-color: $wh;
            color: $be;
            @include border ($be, 2.5px);
            font-size: 19px;
            padding: 8px 15px;
        }
    }
}


footer {
    width: 100%;
    height: 70vh;
    padding: 40px 50px;
    background-color: $be;
    position: relative;
    overflow: hidden;

    .contact {
        position: absolute;
        top: 40px;
        right: 130px;
        display: flex;
        justify-content: space-between;
        width: 470px;


        div {
            &:nth-of-type(1) {
                margin-top: 10px;
            }
        }

        span {
            color: $wh;
            font-family: 'ABCFavorit-Bold';
            font-size: 20px;
        }

        h1 {
            color: $wh;
            text-decoration: underline;
            margin-bottom: 20px;
        }
    }


    .foot {
        color: $wh;
        font-size: 400px;
        font-family: 'ABCFavorit-Bold';
        text-align: center;
        height: 400px;
        margin-top: 150px;
        position: relative;

        p {
            letter-spacing: -20px;
        }

        &::before {
            content: "for";
            position: absolute;
            top: 200px;
            left: 480px;
            background-color: $be;
            width: 120px;
            height: 45px;
            border-radius: 50px;
            font-size: 33px;
            display: inline;
            align-content: center;
            justify-content: center;
            @include border ($wh, 2.5px);
            color: $wh;
        }

        &::after {
            content: "visiting!";
            position: absolute;
            bottom: 30px;
            right: 580px;
            background-color: $be;
            width: 190px;
            height: 45px;
            border-radius: 50px;
            font-size: 33px;
            display: inline;
            align-content: center;
            justify-content: center;
            @include border ($wh, 2.5px);
            color: $wh;
        }
    }
}

.section1 {
    width: 100%;
    height: 100vh;
    padding: 40px 50px;

    .top_text {
        position: absolute;
        top: 48px;
        left: 7%;
        width: 80%;
        text-align: center;
        color: $be;
        font-family: 'NeueHaasDisplay-Mediu';
        font-size: 30px;
        letter-spacing: 1px;
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 1s, transform 1s;
    }


    .urim {
        @include flex-mid;
        padding: 0 40px;
        margin-top: 30px;

        .name_U {
            opacity: 0;
            transform: translateY(100px);
            transition: opacity 1s, transform 1s;

            svg {
                transition: 0.5s linear;
                transform-origin: 0 100%;

                &:hover {
                    transform: scaleY(0.3);
                }
            }
        }

        .name_R {
            opacity: 0;
            transform: translateY(100px);
            transition: opacity 1s, transform 1s;

            svg {
                transition: 0.5s linear;
                transform-origin: 0 100%;

                &:hover {
                    transform: scaleY(0.3);
                }
            }
        }

        .name_I {
            opacity: 0;
            transform: translateY(100px);
            transition: opacity 1s, transform 1s;

            svg {
                transition: 0.5s linear;
                transform-origin: 0 100%;

                &:hover {
                    transform: scaleY(0.3);
                }
            }
        }

        .name_M {
            opacity: 0;
            transform: translateY(100px);
            transition: opacity 1s, transform 1s;

            svg {
                transition: 0.5s linear;
                transform-origin: 0 100%;

                &:hover {
                    transform: scaleY(0.3);
                }
            }
        }
    }

    .bottom_txt {
        padding: 0 10px;
        color: $be;
        font-family: 'NeueHaasDisplay-Mediu';
        font-size: 28px;
        @include flex-between;
        margin-top: 100px;

        opacity: 0;
        transform: translateY(100px);
        transition: opacity 1s, transform 1s;

        p {
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}