@charset "utf-8";
@import "reset", "color", "base", "fonts";

section {
    width: 100%;
    height: 100vh;
    padding: 40px 50px;
    background-color: lavenderblush;


    .project_name {
        font-size: 100px;
        color: $be;
        font-family: 'NeueHaasDisplay-Bold';
    }
}